main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  max-width: 30%;
}

.card {
  width: 100%;
  padding: 0.75rem;
}

div > ul {
  margin-left: 0;
  padding: 1em;
}

.members-list {
  border: 1px solid black;
  border-radius: 0.75rem;
  height: 200px;
  list-style: none;
  overflow-y: auto;
}

h1 {
  margin-top: 0px;
}

input {
  width: 80%;
}

.error {
  color: red;
}
